<!DOCTYPE html>
<html>
    

    <body>
   
        <div class="header">
          <div class="profile_pic"></div>
          <span>Songhyun Lee</span>
        </div>
        
     

        <div class="content">
            <div class="section">
                <div class="container">
                    
                    <span>What I do</span>
                    <ul>
                        <li>I sing 'Let It Go' from Frozen</li>
                        <li>I study human mind</li>
                        <li>I watch a lot of youtube videos</li>
                        <li>My English skill is 72%, Korean 60%</li>
                        <li>I make videos for fun</li>
                        
                    </ul>
                </div>
                    
            </div>
            <div class="section">
                <div class="container">
                    <span>Random Facts</span>
                    <ul>
                        <li>I own a blue couch and a humongous desk</li>
                        <li>I lived in South Africa for 3 years</li>
                        <li>I once had two of my toe nails come off</li>
                        <li>I love cats and I'm alergic to them</li>
                        <li>I'm a latte person</li>
                    </ul>
                </div>
                
            </div>
            <div class="section">
                <div class="container">
                    <span>Videos</span>
                    <div class="videos">
                    <iframe src="https://player.vimeo.com/video/211910657?color=fafcfc&byline=0&portrait=0" width="400" height="225" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    <iframe src="https://player.vimeo.com/video/212000207?color=fafcfc&byline=0&portrait=0" width="400" height="225" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="footer">
            <div>
                <span>Contacts</span>
            </div>

            <p>Songhyun Lee</p>
            <p>email: sfs2@naver.com </p>
        </div>
        
        <script src="intro_scripts.js"></script>
    </body>
</html>